pipeline/Process Blob.json
{
	"name": "Process Blob",
	"properties": {
		"description": "This pipline process alll the blob from storage account",
		"activities": [
			{
				"name": "LookupProcessableBlob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]"
					},
					"dataset": {
						"referenceName": "ProcessableBlobDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loopthroughblob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupProcessableBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupProcessableBlob').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetBlobPath",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": {
									"value": "@{item().Path}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetBlobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			}
		],
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"blobName": {
				"type": "String"
			},
			"container": {
				"type": "String"
			}
		},
		"annotations": []
	}
}